/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 10px 0;
}

/* Responsive Image */
.responsive {
    width: 100%;
    height: auto;
    display: block;
    max-width: 600px;
    margin: 0 auto;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0056b3;
}

/* Main Content */
main {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
}

/* Button Styling */
a.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
}

a.button:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    background-color: #f2f2f2;
    color: #666;
    padding: 10px;
    text-align: center;
    border-radius: 0 0 5px 5px;
}
